{{>nav/nav}}

<h1 class="text text-center">Welcome to Anime News </h1>


<div class="container">


    <div class="article-wrap">

    {{#each articles}}
        <div class="carousel-item col s12 m7">
            <h4 class="header text">{{title}}</h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{image}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p class="text">{{description}}</p>
                    </div>
                    <div class="card-action">
                        <a class="text" href={{link}}>To Article</a>
                        <a class="text save-article waves-effect waves-light btn" data-id={{_id}}><i class="material-icons left">save
                    </i>Save Article</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>