{{>nav/nav}}

<h1 class="text text-center">Saved Articles</h1>

<div class="container">
    
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <div class="article-wrap">

        {{#each saved}}
        <div class="carousel-item col s12 m7">
            <h4 class="header text">{{title}}</h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{image}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p class="text">{{description}}</p>
                    </div>
                    <div class="card-action">
                        <a class="text" href={{link}}>To Article</a>
                        <a class="note modal-trigger waves-effect waves-light btn-small red" data-id={{_id}} href="#modal1">Article Note</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>